mixin companions-list()
  -
    const companionsList = [
      {
        name: "Таня Фирсова",
        level: "99",
        image: "cards-photo-1",
        imageForIndex: "companions-card-1",
        flags: [
          {
            icon: "flag-sri-lanka",
            alt: "Флаг Шри-Ланки.",
            countryName: "Шри-Ланка",
          },
          {
            icon: "flag-thailand",
            alt: "Флаг Таиланда.",
            countryName: "Таиланд",
          },
          {
            icon: "flag-seychelles",
            alt: "Флаг Сейшельских Островов.",
            countryName: "Сейшелы",
          },
        ],
        tags: ["#ЗОЖ #ПП #Фитнес #пляж &nbsp;#авокадо #смузи"],
        transport: [
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-disabled",
          },
          {
            statusAttr: "is-disabled",
          },
          {
            statusAttr: "is-disabled",
          },
        ],
        indexStatusMods: "--is-offline",
        statusMods: "--is-offline",
        availabilityMods: "--is-unavailable",
        likesNumber: "",
      },
      {
        name: "Петя Демин",
        level: "80",
        image: "cards-photo-2",
        imageForIndex: "companions-card-2",
        flags: [
          {
            icon: "flag-belgium",
            alt: "Флаг Бельгии.",
            countryName: "Бельгия",
          },
          {
            icon: "flag-czechia",
            alt: "Флаг Чехии.",
            countryName: "Чехия",
          },
        ],
        tags: ["#бургер #бар #футбол #концерт #крафт"],
        transport: [
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-disabled",
          },
          {
            statusAttr: "is-enabled",
          },
        ],
        indexStatusMods: "--is-online",
        statusMods: "--is-offline",
        availabilityMods: "--is-available",
        likesNumber: 1500,
      },
      {
        name: "Марк Смолов",
        level: "25",
        image: "cards-photo-3",
        flags: [
          {
            icon: "flag-usa",
            alt: "Флаг США.",
            countryName: "США",
          },
          {
            icon: "flag-australia",
            alt: "Флаг Австралии.",
            countryName: "Австралия",
          },
          {
            icon: "flag-dominica",
            alt: "Флаг Доминики.",
            countryName: "Доминика",
          },
        ],
        tags: ["#рэп #тату #хайпбист #кроссовки #суприм"],
        transport: [
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-disabled",
          },
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-disabled",
          },
        ],
        statusMods: "--is-offline",
        availabilityMods: "--is-available",
        likesNumber: 170,
      },
      {
        name: "Лариса Роговая",
        level: "50",
        image: "cards-photo-4",
        flags: [
          {
            icon: "flag-uk",
            alt: "Флаг Великобритании.",
            countryName: "Великобритания",
          },
          {
            icon: "flag-germany",
            alt: "Флаг Германии.",
            countryName: "Германия",
          },
        ],
        tags: ["#образование #карьера #учеба&nbsp;#линкедин"],
        transport: [
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-enabled",
          },
          {
            statusAttr: "is-disabled",
          },
          {
            statusAttr: "is-disabled",
          },
        ],
        statusMods: "--is-online",
        availabilityMods: "--is-available",
        likesNumber: 23,
      },
    ]

  if(currentUrl === "index.html")
      - const activeCards = [companionsList[0], companionsList[1]]
      ul.companions__cards-list
        each item in activeCards
          li.companions__cards-item
            +companion-card(item.name, item.imageForIndex, item.level, item.indexStatusMods, item.flags, item.tags, "")
              ul.transportation-list
                li.transportation-list__item.transportation-list__item--plane(data-status=item.transport[0].statusAttr)
                  +transportation-icon("transportation-list", "icon-plane", 24, 22, "Авиаперелет")
                li.transportation-list__item.transportation-list__item--car(data-status=item.transport[1].statusAttr)
                  +transportation-icon("transportation-list", "icon-bus", 19, 22, "Автотранспорт")
                li.transportation-list__item.transportation-list__item--bicycle(data-status=item.transport[2].statusAttr)
                  +transportation-icon("transportation-list", "icon-bicycle", 25, 25, "Велосипед")
                li.transportation-list__item.transportation-list__item--on-foot(data-status=item.transport[3].statusAttr)
                  +transportation-icon("transportation-list", "icon-run", 22, 24, "Пешком")
  else
    ul.catalog__cards-list(id='catalog-paginated-list', data-current-page='1')
      each item in companionsList
        li.catalog__cards-item(class=`catalog__cards-item${item.availabilityMods}`)
          +companion-card(item.name, item.image, item.level, item.statusMods, item.flags, item.tags, item.likesNumber)(class="companions-card--catalog")
            ul.transportation-list
              li.transportation-list__item.transportation-list__item--plane(data-status=item.transport[0].statusAttr)
                +transportation-icon("transportation-list", "icon-plane", 24, 22, "Авиаперелет")
              li.transportation-list__item.transportation-list__item--car(data-status=item.transport[1].statusAttr)
                +transportation-icon("transportation-list", "icon-bus", 19, 22, "Автотранспорт")
              li.transportation-list__item.transportation-list__item--bicycle(data-status=item.transport[2].statusAttr)
                +transportation-icon("transportation-list", "icon-bicycle", 25, 25, "Велосипед")
              li.transportation-list__item.transportation-list__item--on-foot(data-status=item.transport[3].statusAttr)
                +transportation-icon("transportation-list", "icon-run", 22, 24, "Пешком")
