mixin companion-card(name, image, level, statusMod, countries={}, tags, likesNumber)
  .companions-card&attributes(attributes)
    .companions-card__image
      if(currentUrl === "index.html")
        +picture-adaptive("slides", image, "jpg", 285, 286, 285, 286, 270, 270, "Изображение пользователя.")
      else
        +picture("slides", image, "jpg", 285, 286, "Изображение пользователя.")
    .companions-card__stats
      if(currentUrl === "catalog.html")
        span Левел:
        .companions-card__level(class=`companions-card__level--${level}`)
          span!= level
          span!= "level"
          +icon("icon-level", 64, 64)
      else
        .companions-card__level(class=`companions-card__level--${level}`)
          span!= level
          span!= "level"
          +icon("icon-level", 64, 64)
    .companions-card__content(class=`companions-card__content${statusMod}`)
      .companions-card__text
        h3!= name
        p!= tags
      .companions-card__countries
        if(currentUrl === "catalog.html")
          .companions-card__countries-heading
            span Хочет посетить:
          ul.companions-card__countries-list
            each country in countries
              li.companions-card__countries-item(class=`companions-card__countries-item--${country.icon}`)
                .companions-card__countries-icon
                  +picture("content", country.icon, "jpg", 35, 24, country.alt)
                .companions-card__countries-name
                  span!= country.countryName
        else
          ul.companions-card__countries-list
            each country in countries
              li.companions-card__countries-item(class=`companions-card__countries-item--${country.icon}`)
                .companions-card__picture-wrapper
                  +picture("content", country.icon, "jpg", 35, 24, country.alt)
                +tooltip("companions-card", country.countryName)
      if(currentUrl === "catalog.html")
        .companions-card__buttons-wrapper
          .companions-card__invite-button-wrapper
            +btn({href: "#", text: "Позвать!"})(class="companions-card__invite-button")
          .companions-card__likes-wrapper
            +btn({type: "button"})(class="companions-card__like-button")
              span.companions-card__like-button-icon
                +icon("icon-heart", 20, 20)
              span.companions-card__like-button-icon.companions-card__like-button-icon--is-pressed
                +icon("icon-heart-filled", 20, 20)
            span!= likesNumber
        .companions-card__transportation-wrapper
          .companions-card__transportation-heading
            span Транспорт:
          block
      else
        .companions-card__transportation-wrapper
          block
