mixin filters()
  -
    const countriesList = [
      {
        letter: "А",
        mods: "--a",
        modsActiveClass: "--is-active",
        countries: [
          {
            name: "Австралия",
            category: "australia",
            //- category2: "",
          },
          {
            name: "Австрия",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Азербайджан",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Албания",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Алжир",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Ангола",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Андорра",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Антигуа и Барбуда",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Аргентина",
            category: "america",
            //- category2: "",
          },
          {
            name: "Армения",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Афганистан",
            category: "asia",
            //- category2: "",
          },
        ],
      },
      {
        letter: "Б",
        mods: "--b",
        countries: [
          {
            name: "Багамские Острова",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Бангладеш",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Барбадос",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Бахрейн",
            category: "asia islands",
            //- category2: "islands",
          },
          {
            name: "Белоруссия",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Белиз",
            category: "america",
            //- category2: "",
          },
          {
            name: "Бельгия",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Бенин",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Болгария",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Боливия",
            category: "america",
            //- category2: "",
          },
          {
            name: "Босния и Герцеговина",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Ботсвана",
            category: "america",
            //- category2: "",
          },
          {
            name: "Бразилия",
            category: "america",
            //- category2: "",
          },
          {
            name: "Бруней",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Буркина-Фасо",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Бурунди",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Бутан",
            category: "asia",
            //- category2: "",
          },
        ],
      },
      {
        letter: "В",
        mods: "--v",
        countries: [
          {
            name: "Вануату",
            category: "islands",
            //- category2: "",
          },
          {
            name: "Великобритания",
            category: "europe islands",
            //- category2: "islands",
          },
          {
            name: "Венгрия",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Венесуэла",
            category: "america",
            //- category2: "",
          },
          {
            name: "Восточный Тимор",
            category: "asia islands",
            //- category2: "islands",
          },
          {
            name: "Вьетнам",
            category: "asia",
            //- category2: "",
          },
        ],
      },
      {
        letter: "Г",
        mods: "--g",
        countries: [
          {
            name: "Габон",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Гаити",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Гайана",
            category: "america",
            //- category2: "",
          },
          {
            name: "Гамбия",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Гана",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Гватемала",
            category: "america",
            //- category2: "",
          },
          {
            name: "Гвинея",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Гвинея-Бисау",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Германия",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Гондурас",
            category: "america",
            //- category2: "",
          },
          {
            name: "Гренада",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Греция",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Грузия",
            category: "asia",
            //- category2: "",
          },
        ],
      },
      {
        letter: "Д",
        mods: "--d",
        countries: [
          {
            name: "Дания",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Джибути",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Доминика",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Доминикана",
            category: "america islands",
            //- category2: "islands",
          },
        ],
      },
      {
        letter: "Е",
        mods: "--ye",
        countries: [
          {
            name: "Египет",
            category: "africa",
            //- category2: "",
          },
        ],
      },
      {
        letter: "З",
        mods: "--z",
        countries: [
          {
            name: "Замбия",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Зимбабве",
            category: "africa",
            //- category2: "",
          },
        ],
      },
      {
        letter: "И",
        mods: "--i",
        countries: [
          {
            name: "Израиль",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Индия",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Индонезия",
            category: "asia islands",
            //- category2: "islands",
          },
          {
            name: "Иордания",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Ирак",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Иран",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Ирландия",
            category: "europe islands",
            //- category2: "islands",
          },
          {
            name: "Исландия",
            category: "europe islands",
            //- category2: "islands",
          },
          {
            name: "Испания",
            category: "europe",
            //- category2: "",
          },
          {
            name: "Италия",
            category: "europe",
            //- category2: "",
          },
        ],
      },
      {
        letter: "К",
        mods: "--k",
        countries: [
          {
            name: "Кабо-Верде",
            category: "islands",
            //- category2: "",
          },
          {
            name: "Казахстан",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Камбоджа",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Камерун",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Канада",
            category: "america",
            //- category2: "",
          },
          {
            name: "Катар",
            category: "asia",
            //- category2: "",
          },
          {
            name: "Кения",
            category: "africa",
            //- category2: "",
          },
          {
            name: "Кипр",
            category: "europe islands asia",
            //- category2: "europe",
            //- category3: "asia",
          },
          {
            name: "Киргизия",
            category: "asia",
          },
          {
            name: "Кирибати",
            category: "islands",
          },
          {
            name: "Китай",
            category: "asia",
          },
          {
            name: "Колумбия",
            category: "america",
          },
        ],
      },
      {
        letter: "Л",
        mods: "--l",
        countries: [
          {
            name: "Лаос",
            category: "asia",
          },
          {
            name: "Латвия",
            category: "europe",
          },
          {
            name: "Лесото",
            category: "africa",
          },
          {
            name: "Либерия",
            category: "africa",
          },
          {
            name: "Ливан",
            category: "asia",
          },
          {
            name: "Ливия",
            category: "africa",
          },
          {
            name: "Литва",
            category: "europe",
          },
          {
            name: "Лихтенштейн",
            category: "europe",
          },
          {
            name: "Люксембург",
            category: "europe",
          },
        ],
      },
      {
        letter: "М",
        mods: "--m",
        countries: [
          {
            name: "Маврикий",
            category: "islands",
          },
          {
            name: "Мавритания",
            category: "africa",
          },
          {
            name: "Мадагаскар",
            category: "africa islands",
            //- category2: "africa",
          },
          {
            name: "Малави",
            category: "africa",
          },
          {
            name: "Малайзия",
            category: "asia",
          },
          {
            name: "Мали",
            category: "africa",
          },
          {
            name: "Мальдивы",
            category: "asia islands",
            //- category2: "islands",
          },
          {
            name: "Мальта",
            category: "europe islands",
            //- category2: "islands",
          },
          {
            name: "Марокко",
            category: "africa",
          },
        ],
      },
      {
        letter: "Н",
        mods: "--n",
        countries: [
          {
            name: "Намибия",
            category: "africa",
          },
          {
            name: "Науру",
            category: "islands",
          },
          {
            name: "Непал",
            category: "asia",
          },
          {
            name: "Нигер",
            category: "africa",
          },
          {
            name: "Нигерия",
            category: "africa",
          },
          {
            name: "Нидерланды",
            category: "europe",
          },
          {
            name: "Никарагуа",
            category: "america",
          },
          {
            name: "Новая Зеландия",
            category: "islands",
          },
          {
            name: "Норвегия",
            category: "europe",
          },
        ],
      },
      {
        letter: "О",
        mods: "--o",
        countries: [
          {
            name: "ОАЭ",
            category: "asia",
          },
          {
            name: "Оман",
            category: "asia",
          },
        ],
      },
      {
        letter: "П",
        mods: "--p",
        countries: [
          {
            name: "Пакистан",
            category: "asia",
          },
          {
            name: "Палау",
            category: "islands",
          },
          {
            name: "Панама",
            category: "america",
          },
          {
            name: "Папуа&nbsp;&#8209;&nbsp;Новая&nbsp;Гвинея",
            category: "islands",
          },
          {
            name: "Парагвай",
            category: "america",
          },
          {
            name: "Перу",
            category: "america",
          },
          {
            name: "Польша",
            category: "europe",
          },
          {
            name: "Португалия",
            category: "europe",
          },
        ],
      },
      {
        letter: "Р",
        mods: "--r",
        countries: [
          {
            name: "Руанда",
            category: "africa",
          },
          {
            name: "Румыния",
            category: "europe",
          },
          {
            name: "Россия",
            category: "europe asia",
            //- category2: "asia",
          },
        ],
      },
      {
        letter: "С",
        mods: "--s",
        countries: [
          {
            name: "Сальвадор",
            category: "america",
          },
          {
            name: "Самоа",
            category: "islands",
          },
          {
            name: "Сан-Марино",
            category: "europe",
          },
          {
            name: "Саудовская Аравия",
            category: "asia",
          },
          {
            name: "Сейшелы",
            category: "islands",
          },
          {
            name: "Сенегал",
            category: "africa",
          },
          {
            name: "Сербия",
            category: "europe",
          },
          {
            name: "Сингапур",
            category: "asia islands",
          },
          {
            name: "Сирия",
            category: "asia",
          },
          {
            name: "Словакия",
            category: "europe",
          },
          {
            name: "Словения",
            category: "europe",
          },
          {
            name: "США",
            category: "america",
          },
        ],
      },
      {
        letter: "Т",
        mods: "--t",
        countries: [
          {
            name: "Таджикистан",
            category: "asia",
          },
          {
            name: "Таиланд",
            category: "asia",
          },
          {
            name: "Танзания",
            category: "africa",
          },
          {
            name: "Того",
            category: "africa",
          },
          {
            name: "Тонга",
            category: "islands",
          },
          {
            name: "Тринидад и Тобаго",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Тувалу",
            category: "islands",
          },
          {
            name: "Тунис",
            category: "africa",
          },
          {
            name: "Туркмения",
            category: "asia",
          },
          {
            name: "Турция",
            category: "europe asia",
            //- category2: "europe",
          },
        ],
      },
      {
        letter: "У",
        mods: "--u",
        countries: [
          {
            name: "Уганда",
            category: "africa",
          },
          {
            name: "Узбекистан",
            category: "asia",
          },
          {
            name: "Украина",
            category: "europe",
          },
          {
            name: "Уругвай",
            category: "america",
          },
        ],
      },
      {
        letter: "Ф",
        mods: "--f",
        countries: [
          {
            name: "Фиджи",
            category: "islands",
          },
          {
            name: "Филиппины",
            category: "asia islands",
            //- category2: "asia",
          },
          {
            name: "Финляндия",
            category: "europe",
          },
          {
            name: "Франция",
            category: "europe",
          },
        ],
      },
      {
        letter: "Х",
        mods: "--kh",
        countries: [
          {
            name: "Хорватия",
            category: "europe",
          },
        ],
      },
      {
        letter: "Ч",
        mods: "--ch",
        countries: [
          {
            name: "Чад",
            category: "africa",
          },
          {
            name: "Черногория",
            category: "europe",
          },
          {
            name: "Чехия",
            category: "europe",
          },
          {
            name: "Чили",
            category: "america",
          },
        ],
      },
      {
        letter: "Ш",
        mods: "--sh",
        countries: [
          {
            name: "Швейцария",
            category: "europe",
          },
          {
            name: "Швеция",
            category: "europe",
          },
          {
            name: "Шри-Ланка",
            category: "asia islands",
            //- category2: "asia",
          },
        ],
      },
      {
        letter: "Э",
        mods: "--e",
        countries: [
          {
            name: "Эквадор",
            category: "america",
          },
          {
            name: "Эритрея",
            category: "africa",
          },
          {
            name: "Эсватини",
            category: "africa",
          },
          {
            name: "Эстония",
            category: "europe",
          },
          {
            name: "Эфиопия",
            category: "africa",
          },
        ],
      },
      {
        letter: "Ю",
        mods: "--yu",
        countries: [
          {
            name: "ЮАР",
            category: "africa",
          },
          {
            name: "Южный Судан",
            category: "africa",
          },
        ],
      },
      {
        letter: "Я",
        mods: "--ya",
        countries: [
          {
            name: "Ямайка",
            category: "america islands",
            //- category2: "islands",
          },
          {
            name: "Япония",
            category: "asia islands",
            //- category2: "islands",
          },
        ],
      },
    ]
  -
    const filters = [
      {
        filterName: "Европа",
        id: "europe",
        attribute: "checked",
      },
      {
        filterName: "Азия",
        id: "asia",
        attribute: "",
      },
      {
        filterName: "Америка",
        id: "america",
        attribute: "",
      },
      {
        filterName: "Острова",
        id: "islands",
        attribute: "",
      },
    ]

  //- section.filters
  //-   +page-title("Попутчики")
  //-   .filters__wrapper
  //-     .container
  //-       .filters__options-wrapper
  //-         p
  //-           span.filters__icon
  //-             +icon("icon-filters", 23, 15)
  //-           | Фильтрация по странам:
  //-         ul.filters__list
  //-           each item in filters
  //-             li.filters__item(class=`filters__item--${item.id}`)
  //-               if(item.attribute)
  //-                 +filter-checkbox("filters", item.filterName, item.id, item.id)(checked)
  //-               else
  //-                 +filter-checkbox("filters", item.filterName, item.id, item.id)
  //-         .filters__options-button-wrapper
  //-           +btn({type: "button"})(class="filters__options-button filters__options-button--filter-is-hidden")
  //-             span.filters__options-button-text Показать все
  //-             span.filters__options-button-icon.filters__options-button-icon--is-shown
  //-               +icon("icon-close-bold", 22, 24)
  //-             span.filters__options-button-icon.filters__options-button-icon--is-hidden
  //-               +icon("icon-dots-button", 34, 6)
  //-       .filters__countries-wrapper.filters__countries-wrapper--is-hidden
  //-         ol.filters__countries-list
  //-           each item in countriesList
  //-             if(item.modsActiveClass)
  //-               li.filters__countries-item(class=`filters__countries-item${item.mods} filters__countries-item${item.modsActiveClass}`)
  //-                 p!= item.letter
  //-                 .filters__countries-group
  //-                   each country in item.countries
  //-                     a.filters__countries-link(href="#")!= country
  //-             else
  //-               li.filters__countries-item(class=`filters__countries-item${item.mods}`)
  //-                 p!= item.letter
  //-                 .filters__countries-group
  //-                   each country in item.countries
  //-                     a.filters__countries-link(href="#")!= country
  //-         .filters__button-wrapper
  //-           +btn({type: "button"})(class="filters__button")
  //-             span.filters__button-text Свернуть
  //-             span.filters__button-icon
  //-               +icon("icon-close-bold", 22, 24)

  section.filters
    +page-title("Попутчики")
    .filters__wrapper
      .container
        .filters__options-wrapper.filters__options-wrapper--list-is-hidden
          p
            span.filters__icon
              +icon("icon-filters", 23, 15)
            | Фильтрация по странам:
          .filters__list-wrapper
            ul.filters__list
              each item in filters
                li.filters__item(class=`filters__item--${item.id}`, data-tab-id=item.id)
                  if(item.attribute)
                    +filter-checkbox("filters", item.filterName, item.id, item.id)(checked="true")
                  else
                    +filter-checkbox("filters", item.filterName, item.id, item.id)
          .filters__options-button-wrapper
            +btn({type: "button"})(class="filters__options-button")
              span.filters__options-button-text Показать все
              span.filters__options-button-icon.filters__options-button-icon--is-shown
                +icon("icon-close-bold", 22, 24)
              span.filters__options-button-icon.filters__options-button-icon--is-hidden
                +icon("icon-dots-button", 34, 6)
          .filters__countries-wrapper
            ol.filters__countries-list
              each item in countriesList
                if(item.modsActiveClass)
                  li.filters__countries-item(class=`filters__countries-item${item.mods} filters__countries-item${item.modsActiveClass}`)
                    p!= item.letter
                    .filters__countries-group
                      each country in item.countries
                        a.filters__countries-link(href="#", data-country-category=country.category)!= country.name
                else
                  li.filters__countries-item(class=`filters__countries-item${item.mods}`)
                    p!= item.letter
                    .filters__countries-group
                      each country in item.countries
                        //- a.filters__countries-link(href="#")!= country
                        a.filters__countries-link(href="#", data-country-category=country.category)!= country.name
            .filters__button-wrapper
              +btn({type: "button"})(class="filters__button")
                span.filters__button-text Свернуть
                span.filters__button-icon
                  +icon("icon-close-bold", 22, 24)
