mixin socials-list(className)
  -
    const socialLinks = [
      {
        href: "#",
        classMod: "--telegram",
        icon: "socials-telegram",
      },
      {
        href: "#",
        classMod: "--vk",
        icon: "socials-vkontakte",
      },
      {
        href: "#",
        classMod: "--youtube",
        icon: "socials-youtube",
      },
    ]

  div(class=`${className}__socials-wrapper`)
    ul(class=`${className}__socials-list`)
      each item in socialLinks
        li(class=`${className}__socials-item`)
          a(class=`${className}__socials-link ${className}__socials-link${item.classMod}`, href=item.href, target="_blank", rel="noopener noreferrer")
            +icon(item.icon, 32, 32)
