mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "О сервисе"
      },
      {
        href: "#",
        text: "Направления"
      },
      {
        href: "catalog.html",
        text: "Попутчики"
      },
    ]

  -
    const contactsLinks = [
      {
        href: "tel:+78005558628",
        classMod: "--phone",
        icon: "icon-phone",
        width: 18,
        height: 18,
      },
      {
        href: "mailto:mail@htmlacademy.ru",
        classMod: "--mail",
        icon: "icon-mail",
        width: 16,
        height: 14,
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        .header__logo
          .header__icon
            +logo("svg", "logo", "svg", "-header-full.", "-header", 96, 15, 168, 42, 202, 50, "Логотип сайта Погнали.")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную страницу.")
          .header__icon
            +logo("svg", "logo", "svg", "-header-full.", "-header", 96, 15, 168, 42, 202, 50, "Логотип сайта Погнали.")
      nav.header__nav
        button.header__nav-toggle.header__nav-toggle--is-open(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          span.header__nav-toggle-icon.header__nav-toggle-icon--menu-is-hidden
            +icon("icon-menu-tablet", 25, 25)(id="icon-menu-is-hidden")
          span.header__nav-toggle-icon.header__nav-toggle-icon--menu-is-shown
            +icon("icon-close", 25, 25)(id="icon-menu-is-shown")
        .header__nav-wrapper
          ul.header__nav-list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.header__nav-item
                if(activeState)
                  span.header__nav-link.header__nav-link--is-active(data-hover=link.text)= link.text
                else
                  a.header__nav-link(href=link.href, data-hover=link.text)= link.text
          ul.header__contacts
            each item in contactsLinks
              li.header__contacts-item
                a.header__contacts-link(href=item.href, class=`header__contacts-link${item.classMod}`)
                  +icon(item.icon, item.width, item.height)
