mixin range-input(className, idMin, idMax, nameMin, nameMax, minLength, maxLength, currentMinValue, currentMaxValue)
  div(class=`${className}__range-wrapper`)
    div(class=`${className}__range-inputs`)
      div(class=`${className}__range-input ${className}__range-input--min-input`)
        input(type="number", name=nameMin, id=idMin, value=currentMinValue, min=minLength, max=maxLength, aria-label="Поле ввода минимального левела.")
        label(for=idMin)
      div(class=`${className}__range-input ${className}__range-input--max-input`)
        input(type="number", name=nameMax, id=idMax, value=currentMaxValue, min=minLength, max=maxLength, aria-label="Поле ввода максимального левела.")
        label(for=idMax)
    div(class=`${className}__range-scale`)
      div(class=`${className}__range-bar`)

mixin range-input-full(className, idMin, idMax, nameMin, nameMax, minLength, maxLength, currentMinValue, currentMaxValue)
  div(class=`${className}__range-wrapper`)
    div(class=`${className}__range-inputs`)
      +custom-input(`${className}__range-input`, {inputType: "number", inputId: idMin, inputName: nameMin, inputValue: currentMinValue, inputMinLength: minLength, inputMaxLength: maxLength})(class=`${className}__range-input--min-input`, aria-label="Поле ввода минимального левела.")
      +custom-input(`${className}__range-input`, {inputType: "number", inputId: idMax, inputName: nameMax, inputValue: currentMaxValue, inputMinLength: minLength, inputMaxLength: maxLength})(class=`${className}__range-input--max-input`, aria-label="Поле ввода максимального левела.")
    div(class=`${className}__range-scale`)
      div(class=`${className}__range-bar`)
        +btn({type: "button"})(class=`${className}__range-toggle ${className}__range-toggle--min`, aria-label="Установить минимальный левел.")
        +btn({type: "button"})(class=`${className}__range-toggle ${className}__range-toggle--max`, aria-label="Установить максимальный левел.")
